<!DOCTYPE html>
<html>
<head>
    <link href='assets/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='assets/css/styles.css' rel='stylesheet' type='text/css'>
    <title>Word Counter</title>
</head>
<body>
    <div class='container'>
        <div class='well'>
            <h1>Word Counter</h1>
            <h4>Enter some text and your search term to find its frequency:</h4>
            <form action='/result'>
                <textarea rows=4 name='text' class='form-control' placeholder='Your text...'></textarea>
                <input name='word' class='form-control' placeholder='Search term...'>
                <button type='submit' class='btn btn-danger'>Search</button>
            </form>
        </div>
    </div>
</body>
</html>
