<!DOCTYPE html>
<html>
<head>
    <link href='assets/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='assets/css/styles.css' rel='stylesheet' type='text/css'>
    <title>Word Counter</title>
</head>
<body>
    <div class='container'>
        <div class='well'>
            <h1>Word Counter</h1>
            {% if word is not empty and text is not empty %}
                <h4>You searched for "{{ word }}" in:</h4>
                <p>"{{ text }}"</p>
                <h4>We found {{ result }}
                    {% if result == 1 %}
                        match.
                    {% else %}
                        matches.
                    {% endif %}
                </h4>
            {% else %}
                <h4>Please go back and complete both fields before submitting.</h4>
            {% endif %}
            <form action='/'>
                <button type='submit' class='btn btn-warning'>Search Again</button>
            </form>
        </div>
    </div>
</body>
</html>
