<!DOCTYPE html>
<html>
<head>
    <title>Word Counter</title>
</head>
<body>
    <h1>Word Counter</h1>
    <p>You searched for "{{ word }}".</p>
    <p>We found {{ result }} matches.</p>
    <form action='/'>
        <button type='submit' class='btn btn-info'>Search Again</button>
    </form>
</body>
</html>
