<!DOCTYPE html>
<html>
<head>
    <link href='assets/css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='assets/css/styles.css' rel='stylesheet' type='text/css'>
    <script src='assets/js/jquery-3.1.0.min.js'></script>
    <script src='assets/js/scripts.js'></script>
    <title>Word Counter</title>
</head>
<body>
    <div class='container'>
        <div class='well'>
            <h1>Word Counter</h1>
            {% if word is not empty and text is not empty %}
                <h4>You searched for "<span id='word'>{{ word }}</span>" in:</h4>
                <p>"<span id='text'>{{ text }}</span>"</p>
                <h4>We found {{ result }}
                    {% if result == 1 %}
                        match.
                    {% else %}
                        matches.
                    {% endif %}
                </h4>
            {% else %}
                <h4>Please go back and complete both fields before submitting.</h4>
            {% endif %}
            <form action='/'>
                <button type='submit' class='btn btn-danger'>Search Again</button>
            </form>
        </div>
    </div>
</body>
</html>
